<%- include("header") %>
    <h1>Sign Up</h1>

    <!-- Sign-up form -->
    <form action="/auth/register/" method="POST">
        <div>
            First Name:
            <input type="text" id="firstName" name="firstName" >
        </div>
        <div>
            Last Name:
            <input type="text" id="lastName" name="lastName" >
        </div>
        <div>
            Username:
            <input type="text" id="username" name="username" >
        </div>
        <div>
            Email:
            <input type="email" id="email" name="email" >
        </div>
        <div>
            Password:
            <input type="password" id="password" name="password" >
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <a href="login">Login here</a>

    <%- include("footer") %>